---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import MenuSection from '../components/MenuSection.astro';
import Experience from '../components/Experience.astro';
import EventsSection from '../components/EventsSection.astro';
import BookTable from '../components/BookTable.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Michi Café – La mejor cafetería en Cajamarca"
	description="Michi Café es reconocida entre las cafeterías en Cajamarca por su café de especialidad y ambiente acogedor. Abrimos todos los días. De lunes a domingo, de 9:00 AM a 9:00 PM."
	image="/Cappuccino.png"
>
	<Navbar />
	<main>
		<Hero />
		<MenuSection />
		<Experience />
		<EventsSection />
		<BookTable />
	</main>
	<Footer />
</Layout>
